[[ include file="mobile/_sub_header.html" ]]

<ul>
<!-- begin of weblog 'linklist' -->
[[ subweblog name="standard" category="*" amount="10" ]][[ literal ]]

<li><a href="#[[$uri]]">[[$title]]</a></li>                

[[ /literal ]][[ /subweblog ]]
<!-- end of weblog 'linklist' -->
</ul>

<hr size="1" noshade="noshade" />

<p>
[[ paging action="prev" format="&laquo; vorige pagina" ]] |
<a href="[[ home ]]">Home</a> |
[[ paging action="next" format="volgende pagina &raquo; " ]]
</p>

<hr size="1" noshade="noshade" />

<!-- begin of weblog 'standard' -->
[[ subweblog name="standard" category="*" amount="10" ]][[ literal ]]

	<!-- entry '[[title]]' -->
	<div id="[[$uri]]">
	
		<h2><a href="[[ link hrefonly=1 ]]">[[ $title ]]&nbsp;</a></h2>
		
		[[ if $entry.extrafields.image!="" ]]
		<a href="/images/[[$entry.extrafields.image]]" title="[[$entry.extrafields.description]]" rel="entry-[[$entry.uid]]"><img src="/pivotx/includes/timthumb.php?src=[[$entry.extrafields.image]]&w=240&h=120" style="border: 0px" alt="[[$entry.extrafields.description]]" title="[[$entry.extrafields.description]]" ></a>
		<p><small>[[$entry.extrafields.description]]</small></p>
		[[ /if ]]   
		
		[[ introduction ]] 
		
		[[ more ]]
		
		<p class="meta">
		[[ category link=false ]] - 
		[[ user field="emailtonick" ]] - 
		[[ date format="%dayname% %day%.%month%.%ye% - %hour24%&#58;%minute%" ]] - 
		[[ commentlink ]] 
		</p>
	
	</div>

[[ /literal ]][[ /subweblog ]]
<!-- end of weblog 'standard' -->

<p>
[[ paging action="prev" format="&laquo; vorige pagina" ]] |
<a href="[[ home ]]">Home</a> |
[[ paging action="next" format="volgende pagina &raquo; " ]]
</p>

[[ include file="mobile/_sub_footer.html" ]]
