[[ include file="mobile/_sub_header.html" ]]

	<!-- entry '[[title]]' -->
	<div class="bericht">
		<h2><a href="[[ link hrefonly=1 ]]">[[ $title ]]</a></h2>
		
		[[ if $entry.extrafields.image!="" ]]
			<a href="/images/[[$entry.extrafields.image]]" title="[[$entry.extrafields.description]]" rel="entry-[[$entry.uid]]"><img src="/pivotx/includes/timthumb.php?src=[[$entry.extrafields.image]]&w=240&h=120" style="border: 0px" alt="[[$entry.extrafields.description]]" title="[[$entry.extrafields.description]]" ></a>
			<p><small>[[$entry.extrafields.description]]</small></p>
		[[ /if ]]   
		
		[[ introduction ]]
		
		[[ body ]]
		
		<p class="meta">
		[[ user field="emailtonick" ]] - 
		[[ date format="%dayname% %day%.%month%.%ye% - %hour24%&#58;%minute%" ]]
		</p>
	</div>

<hr size="1" noshade="noshade" />

<p>
[[previousentry text="&laquo; <a href='%link%'>%title%</a>" cutoff=20 ]] | 
<a href="[[home]]">[[t]]Home[[/t]]</a> | 
[[nextentry text="<a href='%link%'>%title%</a> &raquo;" cutoff=20 ]]
</p>    

[[ include file="mobile/_sub_footer.html" ]]
